.header {
  background: $blue;
}

.social {
  float: right;

  li {
    float: left;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: darken($blue, 12%);
    display: block;
    outline: none;
    text-align: center;
    text-decoration: none;

    i {
      font-size: 45px;
      width: 45px;
      height: 45px;
    }

    &:hover {
      color: darken($blue, 17%);
    }
  }
}

  .social-label {
    position: absolute;
    left: -9999px;
  }

.bio {
  color: $light-grey;
  clear: both;
  font-size: 1.1em;
  margin: 0;
  padding-top: 15px;
  text-align: center;
}
