<div class="wrap">
    <div class="container">

        <div class="header clearfix">
            <h1>Chris Breiding</h1>

            <ul class="social">
                <li class="github"><a href="https://github.com/chrisbreiding" target="_blank" title="View my Github profile">Github</a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/in/chrisbreiding" target="_blank" title="Connect with me on LinkedIn">LinkedIn</a></li>
            </ul>
        </div>

        <div class="top clearfix">

            <ul class="services">
                <li>Web Applications</li>
                <li>CMS-Driven Websites</li>
                <li>Web Design</li>
            </ul>

            <div class="slider">

                <ul class="slides">
                    <li class="slide-1">NagaZasshi</li>
                    <li class="slide-2">Austentatious</li>
                    <li class="slide-3">West Shore Chorus</li>
                </ul>

            </div><!-- /.slider -->

        </div><!-- /.top -->

        <div class="bottom clearfix">

            <div class="skills">

                <h2>Areas of Expertise</h2>

                <ul class="skills-list clearfix">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Git</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>Backbone</li>
                    <li>Ruby</li>
                    <li>Ruby on Rails</li>
                    <li>PHP</li>
                    <li>CodeIgniter</li>
                    <li>WordPress</li>
                    <li>Drupal</li>
                    <li>Photoshop</li>
            </ul>

            </div><!-- /.skills -->

            <div class="contact">

                <h2>Get in Touch</h2>

                <form id="contact-form" class="clearfix" action="#" method="post">

                    <fieldset class="name-group clearfix">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="default contact-input" value="Name" title="Name" />
                    </fieldset>

                    <fieldset class="email-group clearfix">
                        <label for="email">Email</label>
                        <input name="email" type="text" class="default contact-input" value="Email" title="Email" />
                    </fieldset>

                    <fieldset class="message-group clearfix">
                        <label for="message">Message</label>
                        <textarea name="message" class="default contact-input" title="Message">Message</textarea>
                    </fieldset>

                    <button type="submit" name="submit">Send Message</button>

                    <div class="mail-icon"></div>

                </form>

            </div><!-- /.contact -->

        </div><!-- /.bottom -->

    </div><!-- /.container -->
</div><!-- /.wrap -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/index/js/scripts.js"></script>
