/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 106, portfolio/*.png */
.portfolio-sprite, .portfolio-aquarium, .portfolio-austentatious, .portfolio-calculator, .portfolio-eleventh, .portfolio-list, .portfolio-movies, .portfolio-nagazasshi, .portfolio-tasks, .portfolio-tv {
  background: url('../ui/portfolio-sc6593aeb6b.png') no-repeat;
}

/* line 58, icons/*.png */
.icons-sprite, .icons-github, .icons-linkedin, .icons-mail {
  background: url('../ui/icons-s9c3815be91.png') no-repeat;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-aquarium {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-austentatious {
  background-position: 0 -150px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-calculator {
  background-position: 0 -300px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-eleventh {
  background-position: 0 -450px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-list {
  background-position: 0 -600px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-movies {
  background-position: 0 -750px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-nagazasshi {
  background-position: 0 -900px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-tasks {
  background-position: 0 -1050px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.portfolio-tv {
  background-position: 0 -1200px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-github {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: -40px 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail {
  background-position: 0 -40px;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/Bebas-Neue/BebasNeue-webfont.eot");
  src: url("../fonts/Bebas-Neue/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas-Neue/BebasNeue-webfont.woff") format("woff"), url("../fonts/Bebas-Neue/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/Bebas-Neue/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 38, ../../views/sass/styles.scss */
body {
  background: url("../ui/body-bg.jpg") fixed;
  color: #424242;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  height: 100%;
}

/* line 46, ../../views/sass/styles.scss */
h1 {
  color: #D9E6F0;
  float: left;
  font-family: "Bebas Neue", "Helvetica Neue", Arial, sans-serif;
  font-size: 64px;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.8);
}

/* line 56, ../../views/sass/styles.scss */
h2 {
  font-family: "Bebas Neue", "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

/* line 62, ../../views/sass/styles.scss */
h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 68, ../../views/sass/styles.scss */
p {
  line-height: 1.5;
  margin: 20px 0;
}

/* line 76, ../../views/sass/styles.scss */
.container {
  margin: 0 auto;
  padding: 25px 0;
  width: 960px;
}

/* line 82, ../../views/sass/styles.scss */
.clearfix {
  zoom: 1;
}
/* line 83, ../../views/sass/styles.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 84, ../../views/sass/styles.scss */
.clearfix:after {
  clear: both;
}

/* line 91, ../../views/sass/styles.scss */
.header {
  background: #2d5675;
}

/* line 95, ../../views/sass/styles.scss */
.social {
  float: right;
}
/* line 98, ../../views/sass/styles.scss */
.social li {
  float: left;
  margin-left: 15px;
}
/* line 102, ../../views/sass/styles.scss */
.social li:first-child {
  margin-left: 0;
}
/* line 107, ../../views/sass/styles.scss */
.social a {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  outline: none;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
}
/* line 115, ../../views/sass/styles.scss */
.social a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 121, ../../views/sass/styles.scss */
.bio {
  color: #e3e3e3;
  clear: both;
  font-size: 1.1em;
  margin: 0;
  padding-top: 15px;
  text-align: center;
}

/* line 133, ../../views/sass/styles.scss */
.portfolio {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
}

/* line 137, ../../views/sass/styles.scss */
.portfolio .container {
  padding-bottom: 5px;
}

/* line 141, ../../views/sass/styles.scss */
.port-section {
  border-top: dashed 1px #424242;
  padding: 25px 0;
}
/* line 145, ../../views/sass/styles.scss */
.port-section:first-child {
  border-top: none;
}
/* line 149, ../../views/sass/styles.scss */
.port-section .port-desc {
  float: left;
  width: 280px;
}
/* line 153, ../../views/sass/styles.scss */
.port-section .port-desc p {
  color: #727272;
  font-size: .9em;
}

/* line 160, ../../views/sass/styles.scss */
.port-items {
  float: right;
  width: 675px;
}
/* line 164, ../../views/sass/styles.scss */
.port-items li {
  float: left;
  margin-left: 25px;
  position: relative;
  width: 200px;
}
/* line 170, ../../views/sass/styles.scss */
.port-items li span {
  display: block;
}

/* line 177, ../../views/sass/styles.scss */
.item-thumb,
.item-name {
  position: relative;
}

/* line 181, ../../views/sass/styles.scss */
.item-thumb {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
  width: 200px;
  height: 150px;
}

/* line 188, ../../views/sass/styles.scss */
.item-name {
  font-size: .9em;
  padding-top: 8px;
  text-align: center;
}

/* line 194, ../../views/sass/styles.scss */
.port-items li .item-extra {
  background: #424242;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #292929;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: #e3e3e3;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  padding: 15px 230px 15px 15px;
  position: absolute;
  left: -282px;
  top: -16px;
  width: 250px;
  height: 170px;
}

/* line 211, ../../views/sass/styles.scss */
.port-items li:hover .item-thumb,
.port-items li:hover .item-name {
  color: #f8f8f8;
  z-index: 10;
}

/* line 216, ../../views/sass/styles.scss */
.port-items li:hover .item-extra {
  display: block;
  z-index: 5;
}

/* line 221, ../../views/sass/styles.scss */
.item-desc {
  font-size: .9em;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* line 227, ../../views/sass/styles.scss */
.item-label {
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 232, ../../views/sass/styles.scss */
.item-tools li {
  float: none;
  font-size: .9em;
  line-height: 1.5;
  list-style: disc;
  margin-left: 20px;
}

/* line 243, ../../views/sass/styles.scss */
.bottom {
  background: #424242;
}
/* line 246, ../../views/sass/styles.scss */
.bottom h2 {
  color: #e3e3e3;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

/* line 252, ../../views/sass/styles.scss */
.skills {
  border-right: dashed 1px #919191;
  float: left;
  padding-right: 9px;
  width: 420px;
}
/* line 258, ../../views/sass/styles.scss */
.skills li {
  background: #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #d2d2d2;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
  float: left;
  font-weight: bold;
  margin: 0 15px 15px 0;
  padding: 10px 15px;
}

/* line 270, ../../views/sass/styles.scss */
.contact {
  float: right;
  padding-left: 25px;
  width: 500px;
}
/* line 275, ../../views/sass/styles.scss */
.contact form {
  position: relative;
}
/* line 279, ../../views/sass/styles.scss */
.contact fieldset {
  padding-bottom: 20px;
  position: relative;
}
/* line 285, ../../views/sass/styles.scss */
.contact .name-group,
.contact .email-group {
  width: 322px;
}
/* line 289, ../../views/sass/styles.scss */
.contact label {
  position: absolute;
  left: -9999px;
}
/* line 295, ../../views/sass/styles.scss */
.contact input,
.contact textarea {
  background: #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #c7c7c7;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: .9em;
  height: 28px;
  line-height: 28px;
  padding: 5px 10px;
}
/* line 307, ../../views/sass/styles.scss */
.contact input {
  display: block;
  width: 300px;
}
/* line 312, ../../views/sass/styles.scss */
.contact .placeholder {
  color: #AAA;
}
/* line 316, ../../views/sass/styles.scss */
.contact textarea {
  width: 478px;
  height: 200px;
}
/* line 321, ../../views/sass/styles.scss */
.contact .default {
  color: #777;
}
/* line 326, ../../views/sass/styles.scss */
.contact .error input,
.contact .error textarea {
  border-color: #721e1e;
}
/* line 330, ../../views/sass/styles.scss */
.contact .error-message {
  background: #721e1e;
  -webkit-border-radius: 0 3px 0 3px;
  -moz-border-radius: 0 3px 0 3px;
  -ms-border-radius: 0 3px 0 3px;
  -o-border-radius: 0 3px 0 3px;
  border-radius: 0 3px 0 3px;
  color: #FFF;
  display: none;
  font-size: .9em;
  padding: 5px 8px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 342, ../../views/sass/styles.scss */
.contact .error .error-message {
  display: block;
}
/* line 347, ../../views/sass/styles.scss */
.contact input:focus + .error-message,
.contact textarea:focus + .error-message {
  display: none;
}
/* line 351, ../../views/sass/styles.scss */
.contact button {
  background: #2d5675;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d5675), color-stop(100%, #224058));
  background: -webkit-linear-gradient(top, #2d5675, #224058);
  background: -moz-linear-gradient(top, #2d5675, #224058);
  background: -o-linear-gradient(top, #2d5675, #224058);
  background: linear-gradient(top, #2d5675, #224058);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #21415A;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2) inset;
  color: #e3e3e3;
  cursor: pointer;
  float: right;
  font-size: .9em;
  width: 125px;
  height: 40px;
  line-height: 35px;
}
/* line 366, ../../views/sass/styles.scss */
.contact button:hover, .contact button:focus {
  background: #386c92;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #386c92), color-stop(100%, #2d5675));
  background: -webkit-linear-gradient(top, #386c92, #2d5675);
  background: -moz-linear-gradient(top, #386c92, #2d5675);
  background: -o-linear-gradient(top, #386c92, #2d5675);
  background: linear-gradient(top, #386c92, #2d5675);
}
/* line 371, ../../views/sass/styles.scss */
.contact button:active {
  background: #2d5675;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d5675), color-stop(100%, #386c92));
  background: -webkit-linear-gradient(top, #2d5675, #386c92);
  background: -moz-linear-gradient(top, #2d5675, #386c92);
  background: -o-linear-gradient(top, #2d5675, #386c92);
  background: linear-gradient(top, #2d5675, #386c92);
}
/* line 377, ../../views/sass/styles.scss */
.contact .processing {
  background: #333333 url("../ui/processing.gif") 50% 50% no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: right;
  width: 123px;
  height: 38px;
}
/* line 385, ../../views/sass/styles.scss */
.contact .response {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: dashed 1px #919191;
  color: #e3e3e3;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 20px;
}
/* line 394, ../../views/sass/styles.scss */
.contact .invalid {
  border-color: #600;
  color: #600;
}
/* line 399, ../../views/sass/styles.scss */
.contact .icons-mail {
  position: absolute;
  top: 0;
  right: 0;
  width: 158px;
  height: 100px;
}

@media only screen and (max-width: 1000px) {
  /* line 6, ../../views/sass/_responsive.scss */
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }

  /* line 16, ../../views/sass/_responsive.scss */
  .container,
  .skills,
  .contact,
  .contact input,
  .contact textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 23, ../../views/sass/_responsive.scss */
  .port-section .port-desc,
  .port-items {
    float: none;
    width: 100%;
  }

  /* line 28, ../../views/sass/_responsive.scss */
  .port-items li {
    margin-left: 0;
    width: 33%;
  }

  /* line 33, ../../views/sass/_responsive.scss */
  .port-items li:hover .item-name {
    color: #424242;
  }

  /* line 37, ../../views/sass/_responsive.scss */
  .port-items li:hover .item-extra {
    display: none;
  }

  /* line 41, ../../views/sass/_responsive.scss */
  .item-thumb {
    margin: 0 auto;
  }

  /* line 47, ../../views/sass/_responsive.scss */
  .skills {
    width: 45%;
  }

  /* line 51, ../../views/sass/_responsive.scss */
  .contact {
    width: 55%;
  }
  /* line 54, ../../views/sass/_responsive.scss */
  .contact input {
    height: 38px;
    line-height: 38px;
  }
  /* line 62, ../../views/sass/_responsive.scss */
  .contact .name-group,
  .contact .email-group,
  .contact input,
  .contact textarea {
    width: 100%;
  }
  /* line 66, ../../views/sass/_responsive.scss */
  .contact .icons-mail {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  /* line 80, ../../views/sass/_responsive.scss */
  .port-section {
    padding-bottom: 5px;
  }
  /* line 83, ../../views/sass/_responsive.scss */
  .port-section .port-desc {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 15px;
    text-align: center;
  }

  /* line 92, ../../views/sass/_responsive.scss */
  .port-section .port-desc,
  .port-items li {
    padding-bottom: 20px;
    width: 50%;
  }
}
@media only screen and (max-width: 620px) {
  /* line 104, ../../views/sass/_responsive.scss */
  h1 {
    font-size: 54px;
  }

  /* line 110, ../../views/sass/_responsive.scss */
  .skills {
    border-right: none;
    border-bottom: dashed 1px #919191;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }

  /* line 118, ../../views/sass/_responsive.scss */
  .skills,
  .contact {
    float: none;
    width: 100%;
  }

  /* line 123, ../../views/sass/_responsive.scss */
  .contact {
    padding-left: 0;
  }
}
@media only screen and (max-width: 470px) {
  /* line 139, ../../views/sass/_responsive.scss */
  .port-section .port-desc {
    padding: 0;
  }

  /* line 145, ../../views/sass/_responsive.scss */
  .port-section .port-desc,
  .port-items li {
    float: none;
    width: 100%;
  }

  /* line 150, ../../views/sass/_responsive.scss */
  .item-thumb {
    height: 50px;
  }
}
@media only screen and (max-width: 430px) {
  /* line 161, ../../views/sass/_responsive.scss */
  h1 {
    margin-bottom: 10px;
  }

  /* line 166, ../../views/sass/_responsive.scss */
  h1,
  .social {
    float: none;
    text-align: center;
  }

  /* line 171, ../../views/sass/_responsive.scss */
  .social li {
    display: inline-block;
    float: none;
  }
}
@media only screen and (max-width: 400px) {
  /* line 185, ../../views/sass/_responsive.scss */
  .skills {
    padding-right: 0;
  }
  /* line 188, ../../views/sass/_responsive.scss */
  .skills li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 6%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 47%;
  }
  /* line 196, ../../views/sass/_responsive.scss */
  .skills li:nth-child(2n) {
    margin-right: 0;
  }
}
