.contact {
  margin-bottom: 30px;

  $label-width: 150px;
  $label-height: 54px;

  form {
    padding-right: 200px;
    position: relative;
  }

  noscript {
    background: rgba(35, 35, 35, 0.9);
    padding: 5px 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    p {
      background: rgba(0, 0, 0, 0.3);
      font-size: 1.2em;
      margin: 0 100px;
      padding: 20px;
      text-align: center;
    }
  }

  fieldset {
    @include clearfix;
    margin-bottom: 10px;
    margin-left: $label-width;
    position: relative;
  }

  label {
    box-sizing: border-box;
    color: #FFF;
    display: block;
    font-size: 1.1em;
    padding-left: 30px;
    position: absolute;
    left: -$label-width;
    line-height: $label-height;
  }

  input {
    height: $label-height - 16;
    line-height: $label-height - 32;
    margin: 8px 0;
  }

  textarea {
    margin-top: 8px;
    min-height: 100px;
  }

  button {
    @include sprite($submit);
    background-color: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 1.1em;
    position: absolute;
    right: 0;
    bottom: 6px;
    text-align: center;
    line-height: 55px;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.envelope {
  @include sprite($envelope);
  position: absolute;
  top: 0;
  right: 0;
}

.name-group label    { @include sprite($label-1); }
.email-group label   { @include sprite($label-2); }
.message-group label { @include sprite($label-3); }

.contact-input {
  background: #121212;
  border: solid 1px #565656;
  box-sizing: border-box;
  color: #e3e3e3;
  display: block;
  font-size: 1em;
  padding: 8px 12px;
  width: 100%;
}

.error-message {
  @include sprite($error);
  box-sizing: border-box;
  display: none;
  line-height: 46px;
  padding-right: 15px;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: right;

  .error & {
    display: block;
  }

  .contact-input:focus + & {
    display: none;
  }
}

.processing {
  background: image-url('loading.gif') 35px 50% no-repeat;
  box-sizing: border-box;
  padding-left: 80px;
  position: absolute;
  right: 0;
  bottom: 6px;
  width: 190px;
  height: 68px;
  line-height: 68px;

  .failure & {
    display: none;
  }
}

.contact-success {
  @include clearfix;
  color: #829e0d;
  display: none;
  font-size: 1.2em;

  .success & {
    display: block;
  }

  p {
    float: left;
    line-height: 82px;
    margin: 0 20px;
  }

  i {
    @include sprite($plane);
    float: left;
  }
}

.contact-failure {
  @include clearfix;
  display: none;
  margin: 0 100px;

  .failure & {
    display: block;
  }

  p {
    margin-left: 75px;
  }

  i {
    @include sprite($alert);
    float: left;
    margin-top: 20px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  .contact button,
  .contact label,
  .envelope,
  .error-message,
  .contact-success i,
  .contact-failure i {
    background-size: $plane-total-width $plane-total-height;
  }

  .contact button      { @include sprite-image($submit-2x); }
  .envelope            { @include sprite-image($envelope-2x); }
  .error-message       { @include sprite-image($error-2x); }
  .contact-success i   { @include sprite-image($plane-2x); }
  .contact-failure i   { @include sprite-image($alert-2x); }
  .name-group label    { @include sprite-image($label-1-2x); }
  .email-group label   { @include sprite-image($label-2-2x); }
  .message-group label { @include sprite-image($label-3-2x); }

}
