.header {
  @include clearfix;
  padding-top: 20px;
}

h1 {
  color: #FFF;
  float: left;
  margin-bottom: 20px;

  .title {
    @include sprite-image($title);
    @include sprite-position($title);
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: block;
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    height: 72px;
    line-height: 72px;
    min-width: 254px;
    padding-left: 32px;
  }

  .sub-title {
    color: #e3e3e3;
    float: left;
    height: 72px;
    line-height: 72px;
    margin-left: 10px;
  }
}

.social {
  float: right;

  li {
    float: left;
    margin-left: 10px;

    a {
      display: block;
      text-indent: -9999px;
      transition: all .25s ease;

      &:hover {
        -webkit-transform: rotate(10deg) translate(5px, -5px);
        transform: rotate(10deg) translate(5px, -5px);
      }
    }

    &.github a   { @include sprite($github); }
    &.twitter a  { @include sprite($twitter); }
    &.linkedin a { @include sprite($linkedin); }
  }
}
