.projects {
  ul {
    @include clearfix;
  }

  li {
    background-repeat: no-repeat;
    box-sizing: border-box;
    float: left;
    font-size: 1.1em;
    height: 80px;
    line-height: 80px;
    margin-bottom: 10px;
    padding-left: 90px;
    width: 50%;

    @each $project in ember, ruby, ios, python, php, csharp {
      &.#{$project} {
        background-image: image-url('#{$project}.png');
      }
    }
  }
}
