.projects {
  ul {
    @include clearfix;
  }

  li {
    background-repeat: no-repeat;
    box-sizing: border-box;
    float: left;
    font-size: 1.1em;
    height: 80px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 90px;
    position: relative;
    width: 50%;

    i {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.javascript i { @include sprite($javascript); }
    &.ruby i       { @include sprite($ruby); }
    &.ios i        { @include sprite($ios); }
    &.python i     { @include sprite($python); }
    &.php i        { @include sprite($php); }
    &.csharp i     { @include sprite($csharp); }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
      i { background-size: $javascript-total-width $javascript-total-height; }

      &.javascript i { @include sprite-image($javascript-2x); }
      &.ruby i       { @include sprite-image($ruby-2x); }
      &.ios i        { @include sprite-image($ios-2x); }
      &.python i     { @include sprite-image($python-2x); }
      &.php i        { @include sprite-image($php-2x); }
      &.csharp i     { @include sprite-image($csharp-2x); }
    }

    p {
      display: table;
      height: 80px;
      margin: 0;
    }

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
