.projects {
  ul {
    @include clearfix;
  }

  li {
    background-repeat: no-repeat;
    box-sizing: border-box;
    float: left;
    font-size: 1.1em;
    height: 80px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 90px;
    position: relative;
    width: 50%;

    i {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.javascript i { @include sprite($javascript); }
    &.ruby i       { @include sprite($ruby); }
    &.ios i        { @include sprite($ios); }
    &.python i     { @include sprite($python); }
    &.php i        { @include sprite($php); }
    &.csharp i     { @include sprite($csharp); }

    p {
      display: table;
      height: 80px;
      margin: 0;
    }

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
