//
// <= 990
//
@media only screen and (max-width: 990px) {

  body {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }

}

//
// <= 740
//
@media only screen and (max-width: 740px) {

  h1 {
    .title {
      float: none;
      margin-bottom: 10px;
    }

    .sub-title {
      display: block;
      float: none;
      height: auto;
      line-height: 1;
      margin-left: 60px;
    }
  }

  .contact {
    form {
      @include clearfix;
      background: none;
      padding-right: 0;
    }

    button,
    .processing {
      float: right;
      margin-top: 10px;
      position: static;
    }
  }

  .envelope {
    display: none;
  }

  .contact-failure {
    margin: 0 20px;
  }

}

//
// <= 580
//
@media only screen and (max-width: 580px) {

  h1 {
    float: none;
    margin-bottom: 10px;
    text-align: center;

    .title {
      background-position: 50% 0;
      padding-left: 0;
    }

    .sub-title {
      margin-left: 0;
    }
  }

  .social {
    text-align: center;
    float: none;

    li {
      display: inline-block;
      float: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .projects {
    li {
      float: none;
      width: 100%;
    }
  }

  .skills li {
    width: 33%;
  }

  .contact {
    label {
      position: relative;
      left: 0;
      z-index: 1;
    }

    fieldset {
      margin: 0;
    }

    .contact-input {
      margin-top: -10px;
    }
  }

  .error-message {
    top: 0;
    z-index: 2;
  }

  .processing {
    float: right;
    position: static;
  }

  .contact-success {
    p {
      line-height: 1.5;
      margin-bottom: 30px;
      margin-left: 0;
    }

    i {
      margin-left: 20px;
    }
  }
}

//
// <= 420
//
@media only screen and (max-width: 420px) {
  .skills li {
    width: 50%;
  }
}
