@import "compass/reset";
@import "compass/css3";

@import "portfolio/*.png";
@include all-portfolio-sprites;

$blue: #2D5675;
$red: #721E1E;

$light-grey: #e3e3e3;
$medium-grey: #919191;
$dark-grey: #424242;

$default-border-radius: 3px;
$font-default: "Helvetica Neue", Arial, sans-serif;
$font-strong: "Bebas Neue", "Helvetica Neue", Arial, sans-serif;

// ---- Fonts ----

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/Bebas-Neue/BebasNeue-webfont.eot");
    src: url("../fonts/Bebas-Neue/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Bebas-Neue/BebasNeue-webfont.woff") format("woff"),
         url("../fonts/Bebas-Neue/BebasNeue-webfont.ttf") format("truetype"),
         url("../fonts/Bebas-Neue/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}


// ---- General ----

body {
    background: url("../ui/body-bg.jpg") fixed;
    color: $dark-grey;
    font-family: $font-default;
    width: 100%;
    height: 100%;
}

h1 {
    color: #D9E6F0;
    float: left;
    font-family: $font-strong;
    font-size: 64px;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 -2px 1px rgba(0,0,0,0.8);
}

h2 {
    font-family: $font-strong;
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
    margin: 20px 0;
}


// ---- Helpers ----

.container {
    margin: 0 auto;
    padding: 25px 0;
    width: 960px;
}

.clearfix {
    &:before,&:after { content:""; display:table; }
    &:after { clear:both; }
    zoom:1; // For IE 6/7
}


// ---- Header ----

.header {
    background: $blue;
}

.social {
    float: right;

    li {
        float: left;
        margin-left: 5px;

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        color: darken($blue, 12%);
        display: block;
        outline: none;
        text-align: center;
        text-decoration: none;

        i {
            font-size: 45px;
            width: 45px;
            height: 45px;
        }

        &:hover {
            color: darken($blue, 17%);
        }
    }
}

    .social-label {
        position: absolute;
        left: -9999px;
    }

.bio {
    color: $light-grey;
    clear: both;
    font-size: 1.1em;
    margin: 0;
    padding-top: 15px;
    text-align: center;
}


// ---- Portfolio ----

.portfolio {
    @include box-shadow(0 0 10px rgba(0,0,0,0.8) inset);
}

.portfolio .container {
    padding-bottom: 5px;
}

    .port-section {
        border-top: dashed 1px $dark-grey;
        padding: 25px 0;

        &:first-child {
            border-top: none;
        }

        .port-desc {
            float: left;
            width: 280px;

            p {
                color: #727272;
                font-size: .9em;
            }
        }
    }

        .port-items {
            float: right;
            width: 675px;

            li {
                float: left;
                margin-left: 25px;
                position: relative;
                width: 200px;

                span {
                    display: block;
                }
            }
        }

                .item-thumb,
                .item-name {
                    position: relative;
                }

                .item-thumb {
                    @include border-radius;
                    @include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.2) inset);
                    cursor: pointer;
                    @include transition(.25s);
                    width: 200px;
                    height: 150px;
                }

                .item-thumb:hover,
                .item-thumb:focus {
                    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
                }

                .details-open .item-thumb {
                    cursor: default;
                    @include box-shadow(none);
                }

                .item-name {
                    font-size: .9em;
                    padding-top: 8px;
                    text-align: center;
                }

                .port-items .details-open .item-thumb,
                .port-items .details-open .item-name {
                    color: #f8f8f8;
                    z-index: 10;
                }

                .port-items li .item-extra {
                    background: $dark-grey;
                    @include border-radius;
                    border: solid 1px darken($dark-grey, 10%);
                    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.4), 0 0 1px #FFF inset);
                    color: $light-grey;
                    display: none;
                    @include opacity(0.95);
                    padding: 15px 230px 15px 15px;
                    position: absolute;
                    left: -282px;
                    top: -16px;
                    width: 250px;
                    min-height: 170px;
                }

                .port-items .details-open .item-extra {
                    display: block;
                    z-index: 5;
                }

                    .item-desc {
                        font-size: .9em;
                        line-height: 1.5;
                        margin-bottom: 10px;
                    }

                    .item-label {
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .item-tools li {
                        float: none;
                        font-size: .9em;
                        line-height: 1.5;
                        list-style: disc;
                        margin-left: 20px;
                    }

                .port-items li .item-links {
                    background: #333;
                    @include border-radius(0 3px 0 3px);
                    @include opacity(0.95);
                    display: none;
                    padding: 8px;
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    z-index: 15;

                    li {
                        float: left;
                        margin-left: 10px;
                        width: 22px;

                        &:first-child {
                            margin-left: 0;
                        }

                        a {
                            color: #a5a5a5;
                            display: block;
                            outline: none;
                            text-align: center;
                            text-decoration: none;
                            width: 22px;
                            height: 20px;
                            line-height: 20px;

                            &:hover {
                                color: #e3e3e3;
                            }

                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }

                .port-items .details-open .item-links {
                    display: block;
                }

                    .item-link-label {
                        left: -9999px;
                        position: absolute;
                    }


// ---- Bottom ----

.bottom {
    background: $dark-grey;

    h2 {
        color: $light-grey;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    }
}

.skills {
    border-right: dashed 1px $medium-grey;
    float: left;
    padding-right: 9px;
    width: 420px;

    li {
        background: $light-grey;
        @include border-radius;
        border: solid 1px #d2d2d2;
        @include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.2) inset);
        float: left;
        font-weight: bold;
        margin: 0 15px 15px 0;
        padding: 10px 15px;
    }
}

.contact {
    float: right;
    padding-left: 25px;
    width: 500px;

    form {
        position: relative;
    }

    fieldset {
        padding-bottom: 20px;
        position: relative;
    }

    .name-group,
    .email-group {
        width: 322px;
    }

    label {
        position: absolute;
        left: -9999px;
    }

    input,
    textarea {
        background: $light-grey;
        @include border-radius;
        border: solid 1px #c7c7c7;
        @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2) inset);
        font-family: $font-default;
        font-size: .9em;
        height: 28px;
        line-height: 28px;
        padding: 5px 10px;
    }

    input {
        display: block;
        width: 330px;
    }

    .placeholder {
        color: #AAA;
    }

    textarea {
        width: 478px;
        height: 200px;
    }

    .default {
        color: #777;
    }

    .error input,
    .error textarea {
        border-color: $red;
    }

    .error-message {
        background: $red;
        @include border-radius(0 3px 0 3px);
        color: #FFF;
        display: none;
        font-size: .9em;
        padding: 5px 8px;
        position: absolute;
            right: 0;
            top: 0;
    }

    .error .error-message {
        display: block;
    }

    input:focus + .error-message,
    textarea:focus + .error-message {
        display: none;
    }

    button {
        background: $blue;
        @include background(linear-gradient(top, $blue, darken($blue, 8%)));
        @include border-radius;
        border: solid 1px #21415A;
        @include box-shadow(0 0 2px rgba(255,255,255,0.2) inset);
        color: $light-grey;
        cursor: pointer;
        float: right;
        font-size: .9em;
        width: 125px;
        height: 40px;
        line-height: 35px;

        &:hover,
        &:focus {
            background: lighten($blue, 8%);
            @include background(linear-gradient(top, lighten($blue, 8%), $blue));
        }

        &:active {
            background: $blue;
            @include background(linear-gradient(top, $blue, lighten($blue, 8%)));
        }
    }

    .processing {
        background: #333 url("../ui/processing.gif") 50% 50% no-repeat;
        @include border-radius;
        float: right;
        width: 123px;
        height: 38px;
    }

    .response {
        @include border-radius;
        border: dashed 1px $medium-grey;
        color: $light-grey;
        font-size: 1.2em;
        line-height: 1.5;
        padding: 20px;
    }

    .invalid {
        border-color: #600;
        color: #600;
    }

    .icon-envelope-alt {
        color: #5B5B5B;
        cursor: default;
        font-size: 140px;
        position: absolute;
            top: -20px;
            right: -30px;
        width: 158px;
        height: 100px;
    }
}

@import "responsive";
@import "font-awesome";