@import "compass/reset";
@import "compass/css3";

$portfolio-layout: smart;
$icons-layout: smart;
@import "portfolio/*.png";
@import "icons/*.png";
@include all-portfolio-sprites;
@include all-icons-sprites;

$blue: #2D5675;
$default-border-radius: 3px;
$font-default: 'Helvetica Neue', Arial, sans-serif;
$font-strong: 'Bebas Neue', 'Helvetica Neue', Arial, sans-serif;

// ---- Fonts ----

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas-Neue/BebasNeue-webfont.eot');
    src: url('../fonts/Bebas-Neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas-Neue/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/Bebas-Neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/Bebas-Neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// ---- General ----

body {
    background: url('../ui/body-bg.jpg') fixed;
    color: #424242;
    font-family: $font-default;
    width: 100%;
    height: 100%;
}

h1 {
    color: #D9E6F0;
    float: left;
    font-family: $font-strong;
    font-size: 64px;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 -2px 1px rgba(0,0,0,0.8);
}

h2 {
    font-family: $font-strong;
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
    margin: 20px 0;
}


// ---- Helpers ----

.container {
    margin: 0 auto;
    padding: 25px 0;
    width: 960px;
}

.clearfix {
    &:before,&:after { content:""; display:table; }
    &:after { clear:both; }
    zoom:1; // For IE 6/7
}


// ---- Header ----

.header {
    background: $blue;
}

.social {
    float: right;

    li {
        float: left;
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        display: block;
        @include opacity(0.5);
        outline: none;
        text-indent: -9999px;
        width: 40px;
        height: 40px;

        &:hover {
            @include opacity(1.0);
        }
    }
}

.bio {
    color: #e3e3e3;
    clear: both;
    font-size: 1.1em;
    margin: 0;
    padding-top: 15px;
    text-align: center;
}


// ---- Portfolio ----

.portfolio {
    @include box-shadow(0 0 10px rgba(0,0,0,0.8) inset);
}

.portfolio .container {
    padding-bottom: 5px;
}

    .port-section {
        border-top: dashed 1px #424242;
        padding: 25px 0;

        &:first-child {
            border-top: none;
        }

        .port-desc {
            float: left;
            width: 280px;

            p {
                color: #727272;
                font-size: .9em;
            }
        }

        ul {
            float: right;
            width: 675px;
        }

            li {
                float: left;
                margin-left: 25px;
                width: 200px;

                span {
                    display: block;
                }

                .thumb {
                    @include border-radius;
                    @include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.2) inset);
                    width: 200px;
                    height: 150px;
                }

                .label {
                    font-size: .9em;
                    padding-top: 8px;
                    text-align: center;
                }
            }
    }

// ---- Bottom ----

.bottom {
    background: #424242;

    h2 {
        color: #e3e3e3;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    }
}

.skills {
    border-right: dashed 1px #919191;
    float: left;
    padding-right: 9px;
    width: 420px;

    li {
        background: #e3e3e3;
        @include border-radius;
        border: solid 1px #d2d2d2;
        @include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.2) inset);
        float: left;
        font-weight: bold;
        margin: 0 15px 15px 0;
        padding: 10px 15px;
    }
}

.contact {
    float: right;
    padding-left: 25px;
    width: 500px;

    form {
        position: relative;
    }

    fieldset {
        padding-bottom: 20px;
        position: relative;
    }

    .name-group,
    .email-group {
        width: 322px;
    }

    label {
        position: absolute;
        left: -9999px;
    }

    input,
    textarea {
        background: #e3e3e3;
        @include border-radius;
        border: solid 1px #c7c7c7;
        @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2) inset);
        font-family: $font-default;
        font-size: .9em;
        height: 28px;
        line-height: 28px;
        padding: 5px 10px;
    }

    input {
        display: block;
        width: 300px;
    }

    .placeholder {
        color: #AAA;
    }

    textarea {
        width: 478px;
        height: 200px;
    }

    .default {
        color: #777;
    }

    .error input,
    .error textarea {
        border-color: #721E1E;
    }

    .error-message {
        background: #721E1E;
        @include border-radius(0 3px 0 3px);
        color: #FFF;
        display: none;
        font-size: .9em;
        padding: 5px 8px;
        position: absolute;
            right: 0;
            top: 0;
    }

    .error .error-message {
        display: block;
    }

    input:focus + .error-message,
    textarea:focus + .error-message {
        display: none;
    }

    button {
        background: $blue;
        @include background(linear-gradient(top, $blue, darken($blue, 8%)));
        @include border-radius;
        border: solid 1px #21415A;
        @include box-shadow(0 0 2px rgba(255,255,255,0.2) inset);
        color: #e3e3e3;
        cursor: pointer;
        float: right;
        font-size: .9em;
        width: 125px;
        height: 40px;
        line-height: 35px;

        &:hover,
        &:focus {
            background: lighten($blue, 8%);
            @include background(linear-gradient(top, lighten($blue, 8%), $blue));
        }

        &:active {
            background: $blue;
            @include background(linear-gradient(top, $blue, lighten($blue, 8%)));
        }
    }

    .processing {
        background: #333 url('../ui/processing.gif') 50% 50% no-repeat;
        @include border-radius;
        float: right;
        width: 123px;
        height: 38px;
    }

    .response {
        @include border-radius;
        border: dashed 1px #919191;
        color: #d3d3d3;
        font-size: 1.2em;
        line-height: 1.5;
        padding: 20px;
    }

    .invalid {
        border-color: #600;
        color: #600;
    }

    .icons-mail {
        position: absolute;
            top: 0;
            right: 0;
        width: 158px;
        height: 100px;
    }
}


// *****************************
//
// Responsive Break Points
//
// *****************************

//
// <= 1000
//
@media only screen and (max-width: 1000px) {

    .container {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
    }

    .container,
    .skills,
    .contact,
    .contact input,
    .contact textarea {
        @include box-sizing(border-box);
    }

    // Portfolio

    .port-section {
        .port-desc,
        ul {
            float: none;
            width: 100%;
        }

        li {
            margin-left: 0;
            width: 33%;

            .thumb {
                margin: 0 auto;
            }
        }
    }

    // Skills, Contact

    .skills {
        width: 45%;
    }

    .contact {
        width: 55%;

        input {
            height: 38px;
            line-height: 38px;
        }

        .name-group,
        .email-group,
        input,
        textarea {
            width: 100%;
        }

        .icons-mail {
            display: none;
        }
    }

}

//
// <= 700
//
@media only screen and (max-width: 700px) {

   // Portfolio

    .port-section {
        padding-bottom: 5px;

        .port-desc {
            @include box-sizing(border-box);
            float: left;
            padding: 0 15px;
            text-align: center;
        }

        .port-desc,
        li {
            padding-bottom: 20px;
            width: 50%;
        }
    }

}

//
// <= 620
//
@media only screen and (max-width: 620px) {

    h1 {
        font-size: 54px;
    }

    // Skills, Contact

    .skills {
        border-right: none;
        border-bottom: dashed 1px #424242;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .skills,
    .contact {
        float: none;
        width: 100%;
    }

    .contact {
        padding-left: 0;
    }

}

//
// <= 470
//
@media only screen and (max-width: 470px) {

   // Portfolio

    .port-section {
        // padding-bottom: 5px;

        .port-desc {
            padding: 0;
        }

        .port-desc,
        li {
            float: none;
            width: 100%;
        }

        li {
            // padding-bottom: 10px;

            .thumb {
                height: 50px;
            }
        }
    }

}

//
// <= 430
//
@media only screen and (max-width: 430px) {

    h1 {
        margin-bottom: 10px;
    }

    h1,
    .social {
        float: none;
        text-align: center;
    }

        .social li {
            display: inline-block;
            float: none;
        }

}

//
// <= 400
//
@media only screen and (max-width: 400px) {

    // Skills

    .skills {
        padding-right: 0;

        li {
            @include box-sizing(border-box);
            margin-right: 6%;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            width: 47%;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

}