<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chris Breiding | Software Developer</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico" type="image/ico">
  {{#each stylesheets}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}
</head>
<body>

  <p>My name is <strong>Chris Breiding</strong>.</p>

  <p>I like to make
    <span>web apps</span>,
    <span>mobile apps</span>,
    <span>websites</span>,
    <span>dev tools</span>,
    and other similar things.
  </p>

  <p>I'm known to use
    <span>JavaScript</span>,
    <span>Ruby</span>,
    <span>Objective-C</span>,
    <span>Python</span>,
    <span>Clojure</span>,
    <span>C#</span>,
    or anything suited for the job at hand.
  </p>

  <p>
    Check me out on <a href="https://github.com/chrisbreiding">Github</a> and <a href="https://twitter.com/chrisbreiding">Twitter</a>.
  </p>

  <form class="contact-form invalid">
    <div class="fields">
      <textarea name="message" class="message" placeholder="Say hello..."></textarea>

      <footer>
        <button name="submit" type="submit">Send Message</button>
      </footer>
    </div>

    <div class="contact-success">
      <p>Your message has been sent - Thank you!</p>
    </div>

    <div class="contact-failure">
      <p>I'm sorry, but an unexpected error occurred and your message could not be sent. Please get in touch with me via <a href="http://twitter.com/chrisbreiding" target="_blank">Twitter</a>.</p>
    </div>

    <noscript>
      <p>This contact form requires JavaScript. To use it, please enable JavaScript and refresh the page.</p>
    </noscript>
  </form>

  {{#each scripts}}
    <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
